*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
h1{
    color: pink;
    font-size: larger;
    background-color: black;
}
button{
    color: blue;
    border: 2px solid rgb(18, 155, 37);
    background-color: red;
}
button:hover{
    background: #04b639;
    color: black;
    border-top:2px solid  rgb(173, 14, 14);

}